[include]
	path = ~/.gitconfig.local
[core]
	preloadindex = true
	excludesfile = ~/.gitignore.global
	autocrlf = input
	; editor = emacsclient -nw
	; pager = diff-so-fancy | less --tabs=4 -RFX
	editor = kak
	pager = less --tabs=4 -RFX
[log]
	decorate = true
[alias]
	d = "!f() { git difftool --no-prompt --extcmd \"icdiff --no-bold\" $@ | more -R; }; f"
	l = log --pretty=format:%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate
	s = status --short
	st = status --short
	co = checkout
	cb = checkout -b
	lc = log ORIG_HEAD.. --stat --no-merges
	ll = log --decorate
	gr = log --graph --all --pretty=format:%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate
	graph = log --graph --all --decorate
	la = !git config -l | grep alias | cut -c 7-
	rc = "!f() { git reset $* && git co $*; }; f"
	ctags = !.git/hooks/ctags
[color]
	ui = true
; [transfer]
; 	fsckobjects = true
; [fetch]
; 	fsckobjects = true
; [receive]
; 	fsckobjects = true
; [merge]
; 	tool = nvim
; [mergetool "nvim"]
; 	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[credential]
	helper = cache
[github]
	user = haran
